

.entityform,.edituserform {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1000;
    max-width: 400px; /* Adjust max width as per your need */
}

@media (max-width: 768px) {
    .entityform {
        width: 90%;
        left: 45%;
        top: 20%;
         /* Adjust form size for mobile responsiveness */
    }
}

@media (max-width: 500px) {
    .entityform {
        width: 90%;
        max-width: 350px;
        top: 15%;
        left: 45%
         /* Adjust form size for mobile responsiveness */
    }
}